<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Root Menu -->
    <menuitem id="menu_sale_ops_root"
              name="Sales Operations"
              sequence="10"/>

    <!-- Sales Orders (menu فقط بدون action) -->
    <menuitem id="menu_sale_ops_orders"
              name="Sales Orders"
              parent="menu_sale_ops_root"
              sequence="10"/>

    <!-- Operational Stages (menu فقط بدون action) -->
    <menuitem id="menu_sale_ops_stages"
              name="Stages"
              parent="menu_sale_ops_root"
              sequence="20"/>

    <!-- (اختياري) قائمة إعدادات داخل نفس الموديول إذا ملفات الإعدادات تحتاجها كـ parent -->
    <menuitem id="menu_sale_ops_config_root"
              name="Configuration"
              parent="menu_sale_ops_root"
              sequence="90"/>

</odoo>
